*{
	margin: 0px;
	padding: 0px;
}

p
{
text-align:left;
color:black;
font-family: 'Delius', sans-serif;
}

html{
	height:  100%;
}

h1 {
	font-family: 'Delius', sans-serif;
	text-align: left;
	color: #EF4136;
	padding: 20px;
}	

h3 {
	font-family:  bold 16px 'Delius', sans-serif;
	text-align: left;
	color: #EF4136;
	padding-left: 10px;
	padding-top: 15px;
}

h5 {
	padding-left: 10px;
	font-weight: bold;
	font-family:  bold 16px 'Delius', sans-serif;
}

a:link{color: #00A79D; text-decoration: none;}
a:visited{color: #00A79D; text-decoration: none;}
a:hover{color: #EF4136;	text-decoration: none;}
a:active{color: #EF4136;text-decoration: none;}

img {  
	border-style: none;
}


	
body {
	background-color: #F5EBE4;
	text-align: center;
	height:  100%;
}

#big_wrapper{
	background-image: url('images/bgrule.png');
	background-repeat: repeat-y;
	min-height: 100%;
	border: 0px;
	width: 1020px;
	margin: 10px auto;
	text-align: left;
	margin-bottom: -10px;
	position:  relative;
	overflow: visible;
}

* html #big_wrapper {
height: 100%;
}

#sub_wrapper{
	float: left;
	text-align: center;
	width: 640px;
	margin-bottom: 10px;
	height: auto;
	min-height: 100%;
}	

#side_wrapper{
	float: right;
	text-align: center;
	width: 370px;
	
}

.clearfooter {
	//height: 2px;
	clear: both;
}

#the_footer {
	clear: both;
	text-align: center;
	border-top: 1px solid #EF4136;
	padding-top: 15px;
	font-size: 13px;
	height: 30px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;

}

#footer_col1 {
	float:left;
	text-align: left;
	margin-top: 5px;
	margin-left:20px;
	margin-bottom: 20px;
	font-family: 'Delius',sans-serif;
}

#footer_col2 {
	float: left;
	text-align: left;
	margin-top:5px;
	margin-left: 150px;
	margin-bottom:20px;
	font-family: 'Delius',sans-serif;
}

#footer_col3 {
	float: left;
	text-align: left;
	margin-top:5px;
	margin-left: 150px;
	margin-bottom:20px;
	font-family: 'Delius',sans-serif;
}

#footer_right {
	float:right;
	text-align: right;
	margin-top: 15px;

}


#top_header {
	text-align: center;
	margin-right: 10px;
	margin-bottom: 5px;
	padding-bottom: 6px;
	border-bottom: 1px solid #EF4136;
}

#top_menu {
	text-align: center;
	margin-right: 6px;
	padding-bottom: 4px;
	padding-top: 5px;
	border-bottom: 1px solid #EF4136;
}
#top_menu li {
	display: inline-block;
	list-style: none;
	padding-left: 12px;
	padding-right: 12px;
	font-size: bold 14px;
}

#main_section {
	float: left;
	width: 640px;
	text-align: left;
}

#side_info {
	float: left;
	width: 180px;
	height: 100%;
}

#side_gallery {
	float: right;
	width: 170px;
	margin-bottom: 20px;
	
}

#challenge {
	margin-top: 120px;
	margin-bottom: 20px;
	padding-top: 5px;
	padding-bottom: 4px;
	padding-right: 5px;
	border-top: 1px solid #EF4136;
	border-bottom: 1px solid #EF4136;
}

.side_para {
	//padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 13px;
	line-height: 130%;
	text-align: left;
}

#manifesto {
	padding-top: 5px;
	padding-bottom: 4px;
	margin-top: 10px;
	margin-bottom: 20px;
	border-top: 1px solid #EF4136;
	border-bottom: 1px solid #EF4136;
}

#zine {
	border-top: 1px solid #EF4136;
	border-bottom: 1px solid #EF4136;
	padding-top: 5px;
	padding-bottom: 4px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.side_link {
	padding-left: 10px;
	font-size: 14px;
	text-align: left;
}

#photo_side {
	margin-top: 120px;
	margin-bottom: 20px;
	border-top: 1px solid #EF4136;
	border-bottom: 1px solid #EF4136;
	padding-bottom: 4px;
	padding-top: 5px;
}

.rightborder {
	border-right: 1px solid #EF4136;
	padding-right: 7px;
	padding-left: 7px;
}

.tablepad {
	padding-left: 5px;
}

header, section, footer, aside, nav{
	display: block;	
}

#photo{
	padding-bottom: 10px;
	width:160px;
}

#headtitle {
	padding-top: 20px;
}

#imgpad {
	padding: 10px;
}

#maintext-hey {
	margin-right: 10px;
	margin-left: 8px;
	padding-top: 20px;
}

greenbold {
	color: #00A79D;
	font-weight: bold;
}

#maintext-home {
	border-top: 1px solid #00A79D;
	//margin-right: 40px;
	//margin-left: 8px;
	//padding-top: 20px;
}

#maintext-home p {
   //margin-left: 20px;
   //margin-right: 40px;
   text-align: left;
   font-size:  13px;
   padding-bottom: 20px;
   padding-top: 5px;
   line-height: 2em;
   
}
#maintext {
	border-bottom: 1px solid #00A79D;
	margin-right: 30px;
	//margin-left: 8px;
	padding-top: 5px;
}

#maintext p {
   margin-left: 20px;
   margin-right: 40px;
   text-align: left;
   font-size:  14px;
   padding-bottom: 20px;
   padding-top: 5px;
   line-height: 2em;
   
}

#maintext ol{
   margin-left: 38px;
   margin-right: 40px;
   text-align: left;
   font-family:  14px 'Delius', sans-serif;
   padding-bottom: 20px;
   line-height: 2em;
   
}


#maintext-last {
	margin-left: 8px;
	margin-right: 40px;
	padding-top: 5px;
	
}

#maintext-last p {
   margin-left: 20px;
   margin-right: 40px;
   text-align: left;
   font-family:  14px 'Delius', sans-serif;
   padding-bottom: 20px;
   line-height: 2em;
   
}

ol {
	margin-left: 35px;
	margin-right: 60px;
	font-family:  14px 'Delius', sans-serif;
	line-height: 2em;
}

ol li { 
	margin-top: 1em; 
	}

ul {
	font-family:  16px 'Delius', sans-serif;
	line-height: 2em;
	padding: 0px;
   	margin: 0px;
}
